# Exploratory Data Analysis of Tennis player.

In [4]:
import pandas as pd

In [8]:
world = pd.read_csv('data_set/tennis_player.csv',sep=',')

In [6]:
world

,Tennis_Player,Total_Weeks_at_No_1,Maximum_Consectutive_Weeks_at_no_1,Years_End_no_1,Careers_Wins_Losses,Titles,Prize_Money,Unnamed: 7
0,Roger Federer,310,237,5,1222-265,102,126266005,NaN
1,Pete Sampras,286,102,6,762-222,64,43280489,NaN
2,Ivan Lendl,270,157,4,1068-242,94,21262417,NaN
3,Jimmy Connors,268,160,5,1274-282,109,8641040,NaN
4,Novak Djokovic,264,122,5,871-182,75,134684000,NaN
5,Rafael Nadal,196,56,4,960-196,83,111328858,NaN
6,John McEnroe,170,58,4,881-198,77,12552132,NaN
7,Bjorn Borg,109,46,2,644-135,64,3655751,NaN
8,Andre Agassi,101,52,1,870-274,60,31152975,NaN
9,Lleyton Hewitt,80,75,2,616-262,30,20879934,NaN
10,Stefan Edberg,72,24,2,801-270,41,20630941,NaN
11,Jim Courier,58,27,1,506-237,23,14034132,NaN
12,Gustavo Kuerten,43,30,1,358-195,20,14807000,NaN
13,Andy Murray,41,41,1,663-191,45,61217017,NaN
14,Ilie Nastase,40,40,1,858-320,59,2076761,NaN
15,Mats Wilander,20,20,1,571-222,33,7956101,NaN
16,Andy Roddick,13,13,1,612-213,32,20640030,NaN
17,Boris Becker,12,9,0,713-214,49,25080956,NaN
18,Marat Safin,9,4,0,422-267,15,14373291,NaN
19,Juan Carlos Ferrero,8,8,0,479-262,16,13998165,NaN
20,John Newcombe,8,8,0,552-198,35,1062408,NaN
21,Yevgeny Kafelnikov,6,6,0,609-306,26,23883797,NaN
22,Thomas Muster,6,5,0,625-273,44,12266977,NaN
23,Marcelo Rios,6,4,0,391-192,18,9713771,NaN
24,Carlos Moya,2,2,0,575-319,20,13443970,NaN
25,Patrick Rafter,1,1,0,358-191,11,11133128,NaN

In [11]:
help(world.drop)

Help on method drop in module pandas.core.frame:

drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise') method of pandas.core.frame.DataFrame instance
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by specifying directly index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index : single label or list-like
        Alternative to specifying axis (``labels, axis=0``
        is equivalent to ``index=labels``).

        .. versionadded:: 0.21.0
    columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).

        .. versionadded:: 0.21.0
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If True, do operation inplace and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    DataFrame
        DataFrame without the removed index or column labels.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis.

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3, 0.2]])
    >>> df
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    lama    speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [12]:
world.drop('Unnamed: 7', axis=1,inplace=True)

In [14]:
world.columns

Index(['Tennis_Player', 'Total_Weeks_at_No_1',
       'Maximum_Consectutive_Weeks_at_no_1', 'Years_End_no_1',
       'Careers_Wins_Losses', 'Titles', 'Prize_Money'],
      dtype='object')

In [15]:
world.shape

(26, 7)

In [17]:
world.isna().sum()

Tennis_Player                         0
Total_Weeks_at_No_1                   0
Maximum_Consectutive_Weeks_at_no_1    0
Years_End_no_1                        0
Careers_Wins_Losses                   0
Titles                                0
Prize_Money                           0
dtype: int64

In [18]:
world.dtypes

Tennis_Player                         object
Total_Weeks_at_No_1                    int64
Maximum_Consectutive_Weeks_at_no_1     int64
Years_End_no_1                         int64
Careers_Wins_Losses                   object
Titles                                 int64
Prize_Money                            int64
dtype: object

In [19]:
world[['Career_wins','Career_losses']] = world.Careers_Wins_Losses.str.split('-',expand=True).asType(float)

AttributeError: 'DataFrame' object has no attribute 'Career_Wins_Losses'